body {
    background-image: url("../images/44eb0e_787d281137e274ef0379b56f16798514.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: pink;
    font-family: 'Bonbon', cursive;
   }

h1 {
    color: black;
    font-size: 45px;
    margin-top: 30px;
    margin-left: 70px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
  }