body {
    background-image: url("../images/OldDesignShop_GrandpasAcctBook2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: pink;
    /* font-family: ; */
   }